root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.go]
indent_size = 4
indent_style = tab

[*.sh]
indent_size = 4
indent_style = space

[*.js]
indent_size = 4
indent_style = space
ij_javascript_force_semicolon_style = true
ij_javascript_use_semicolon_after_statement = true
