os: linux
dist: xenial

language: go
go:
  - 1.14.x

cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod

git:
  quiet: true

notifications:
  email:
    on_failure: always
    on_success: never

env:
  global:
    - GO111MODULE=on

branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

script:
  - env RELEASE_TAG=$TRAVIS_TAG make ci

_aliases:
  - &github_deploy
    provider: releases
    edge: true
    token:
      secure: "FuM0nFGVDMxQcmsM9Zox8EC34oaHidNPvU+s/NdRVzhMGtQw2UaclGfO4Anu0HqN0Lqz3PmkpTjT0n2U0fCX9+oQ/gYSEEx2AOSlg2p72kqqZAIZ0IGkgi7xUbCqC6JpK4Yp4kfTC8dSFc6YYNPAt/GCmsqtGcKQFv+67wUpVBEN6MFAkVTD6NUbcLOb4PLayNrNjY4rUx3pCr6dMZL4w8FpTkjDW4BnU2nIZ/y//M2Kro7vmvy9Zo+hpc271fGg2IoM+qurFeZC5dS/Ke/H28gZGQJMhT7xRyNvDkXYCxkO2M7BZ5sLjXHOcyLsmY2+QNYRWybkPY20cJMfATv2b3CBNSOEUsziPg99UU1N27/XsObS78QNEw9iNSuJ+7bUqNUEbkZ03TmMpFwlh+hHQHGxhXKwo/OYullh5x0GMQb/s+lnmXhTmtxF68Rg06RhkQRaT8LVQjOTbh9gWy3TPNt0Plv/PuDeFUKGfhIZw92RwftdqCQiwiLZqZzzmQleb/W9GQp9CmxLua1Z/qfKlJXMKMf0MLxy/4J7LBAbFwPEyZLSNt9fTmxYCRR1jkXZDNTvI0iwdqtpxqcd/xY9bzRgn7gESR4Z3r0rzW0wCfiXlrxKXJKzvUoQO3DcKjZ05SkDaqs6XJSfwJpp6EfkE7x1e4cQemMkwNecXer0QsM="
    file_glob: true
    file: dist/*

before_deploy:
  - gem install github_changelog_generator
  - scripts/changelog.sh

deploy:
  - <<: *github_deploy
    on:
      branch: master
      tags: true
    overwrite: false

  - <<: *github_deploy
    on:
      branch: /^dev-/
    overwrite: true
    prerelease: true
