<!DOCTYPE html>
<html lang="en">
<head>
    <title>reset-tadpoles-password</title>
    <style>
        html, body, div {
            margin: 0;
            padding: 0;
            font: normal 16px/24px Helvetica Neue, Helvetica, sans-serif;
            color: #333;
        }

        #main {
            max-width: 630px;
            margin: 3em auto;
        }

        .bookmarklet {
            display: inline-block;
            padding: .5em 1em;
            color: #ffffff;
            background: #1486e7;
            border-radius: 4px;
            text-decoration: none;
        }

        a {
            color: #1486e7;
        }
    </style>
</head>
<body>
<div id="main">
    <h1>{{ name }}</h1>
    <br>

    <ol>
        <li>
            <p><strong>Read the full instruction list first!</strong></p>
        </li>
        <li>
            <p>
                Drag this button to your bookmarks bar to save it as a bookmarklet:
            <p>
                <a class="bookmarklet" href="{{ minified }}">{{ name }}</a>
            </p>
        </li>
        <li>
            <p>Follow the instructions at <a href="https://tadpoles-backup/blob/main/.github/GoogleAccountSignIn.md" target="_blank">tadpoles-backup</a></p>
        </li>
        <li>
            <p>Delete the bookmarklet <strong>{{ name }}</strong> when you are done.</p>
        </li>
    </ol>
</div>
</body>
</html>
