name: draft release

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  release-draft:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "${{ github.workspace }}/go.mod"
          cache: true

      - name: Install GOX
        run: go install github.com/mitchellh/gox@latest

      - name: Multi-target Build
        run: VERSION_TAG=${GITHUB_REF#refs/tags/} make release

      - name: List Files
        id: build_files
        run: ls ${{ github.workspace }}/dist > $GITHUB_OUTPUT

#      - name: Draft Release
#        permissions:
#          contents: write
#        uses: release-drafter/release-drafter@v5
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#name: release
#
#on:
#  release:
#    types: [ created ]
#
#jobs:
#  release:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#
#      - name: Setup Go
#        uses: actions/setup-go@v3
#        with:
#          go-version-file: "${{ github.workspace }}/go.mod"
#          cache: true
#
#      - name: Install GOX
#        run: go install github.com/mitchellh/gox@latest
#
#      - name: Multi-target Build
#        run: VERSION_TAG=${GITHUB_REF#refs/tags/} make release
#
#      - name: List Files
#        run: ls ${{ github.workspace }}/dist
#
#      - name: Push Files
#        uses: softprops/action-gh-release@v1
#        with:
#          files: ${{ github.workspace }}/dist/*
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
