apiVersion: v1
kind: Namespace
metadata:
  name: tadpoles-backup
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: tadpoles-backup
spec:
  schedule: "0 1 * * *"  # every day at 1 AM
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          volumes:
            - name: image-dir
              persistentVolumeClaim:
                claimName: tadpoles-backup-images-claim
          containers:
            - name: tadpoles-backup
              image: leocov/tadpoles-backup:latest
              imagePullPolicy: IfNotPresent
#              command: ["./tadpoles-backup --non-interactive"]  # this is already entrypoint default
              args: [ "backup", "/images" ]
              volumeMounts:
                - mountPath: "/images"
                  name: image-dir
              envFrom:
                - secretRef:
                    name: tadpoles-auth
          restartPolicy: Never
